services:
  psc-mariadb-test:
    image: mariadb:latest
    container_name: psc-mariadb-test
    environment:
      - MARIADB_ROOT_PASSWORD=test_root_password
    ports:
      - "3801:3306"  # Different port for test mariadb
    networks:
      - psc-test-network
    volumes:
      # Ephemeral volumes so data is not retained between test runs
      - /var/lib/mysql
      - ./mariadb/test-init.sql:/docker-entrypoint-initdb.d/test-init.sql

  psc-redis-test:
    build: 
      context: ./redis
      dockerfile: Dockerfile.test
    container_name: psc-redis-test
    ports:
      - "6800:6800"
    volumes:
      - psc_redis_data_test:/data
    networks:
      - psc-test-network

  political-scorecard-backend-test:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: political-scorecard-backend-test
    ports:
      - "8081:8080"  # Different port for test backend
    networks:
      - psc-test-network
    volumes:
      - .:/app
      #- ./jacoco-report:/app/target/site/jacoco
      #- ./test-reports:/app/target/site/surefire-reports
    environment:
      - SPRING_PROFILES_ACTIVE=test
    command: ./startup_shell/test_startup.sh  # Test-specific startup script
    depends_on:
      - psc-mariadb-test

volumes:
  # No persistent volumes, we use ephemeral storage for testing
  db-data-test:
  psc_redis_data_test:
  #jacoco-report:
  #  driver_opts:
  #    type: none
  #    device: ./jacoco-report
  #    o: bind

networks:
  psc-test-network:
    driver: bridge