services:
  psc-mariadb:
    image: mariadb:latest
    container_name: psc-mariadb
    env_file: .env  # Specify the .env file to use to define environment variables
    environment:
      - MARIADB_ROOT_PASSWORD=root_password
      # We set the political-scorecard-backend to use the base SQL database to create the context and location databases and all others.
      # Therefore, no need to create a default database here.
      # The user access for the server is set in the init.sql file which is mounted to the container via a volume.
    ports:
      - "3800:3306"
    networks:
      - psc-network
    volumes:
      - db-data:/var/lib/mysql
      - ./mariadb/init.sql:/docker-entrypoint-initdb.d/init.sql

  psc-redis:
    build: ./redis
    container_name: psc-redis
    ports:
      - "6379:6379"
    volumes:
      - psc_redis_data:/data
    networks:
      - psc-network

  political-scorecard-backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: psc-backend
    ports:
      - "8580:8080"
    networks:
      - psc-network
    environment:
      - SPRING_PROFILES_ACTIVE=dev
    volumes:
      - .:/app
    command: ./startup_shell/startup_shell.sh
    depends_on:
      - psc-mariadb
      - psc-redis

volumes:
  db-data:
  psc_redis_data:

networks:
  psc-network:
    #external: true